html body{
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}
.container{
    position: fixed;
    width: 320px;
    background-color: gray;
    top: 50%;
    left: 50%;
    box-shadow: rgb(0, 0, 0);
    border-radius: 15px;
    transform:translate(-50%, -50%);
    padding-bottom: 18px;
    
}
.display{
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background-color: rgb(123, 161, 125);
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.buttons{
    padding: 20px 20px 0 20px;
}
.row{
    width: 280px;
    float: left;
}
.btn:hover{
    background-color: rgb(235, 198, 154);
    color: rgb(15, 15, 15);
}
input[type=button]{
    width: 60px;
    height: 60px;
    padding: 0;
    float: left;
    box-sizing: border-box;
    background-color: rgb(235, 161, 72);
    margin: 5px;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: brown;
    font-weight: 700;
    cursor: pointer;
    .eql{
    background-color: rgb(4, 254, 142) ;
    color: rgb(246, 190, 85);
}

}
input[type=text]{
height: 60px;
width: 275px;
padding: 0;
float: left;
box-sizing: border-box;
border: none;
color: rgb(0, 0, 0);
text-align: right;
line-height: 60px;
font-size: 60px;
margin: 0 25px;
font-weight: 700;
}
footer{    
    height: 15vh;
    bottom: 0;
}

*{
    padding: 0;
    margin: 0;
}
header{
    height: 10vh;
}
header,footer{
    position: absolute;
    background-color: wheat;
    width:100%;
    color: black;
}
header h2{
    position: absolute;
    margin-top: 20px;
    left: 5%;
    
}
footer h2{
    position: absolute;
    left: 44%;
}
footer p{
    position: absolute;
    left: 47%;
    bottom: 35px;
    font-size: 17px;
}
.links{
    position: absolute;
    left: 53%;
    bottom: 27px;
}
.linkedin:hover{
    padding-right: 8px;
}
.gmail:hover{
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}
.facebook:hover{
    padding-left: 8px;
}